# CruiserJumpPractice=飞车训练
CruiserJumpPractice=飞车训练
Magnet is now OFF.=磁铁已关闭
Magnet is now ON.=磁铁已打开
Cruiser state saved.=车辆状态已保存
Cruiser state loaded.=已加载保存过的车辆状态
Cannot load cruiser state while magneted to ship.=当前巡洋舰已被磁吸停靠，该状态下无法加载舰船数据，需先解除对接再重试。
# 预备模组汉化

